In [1]:
import numpy as np
import pandas as pd

# Multi-Level Indexing

First create an index hierarchy

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2', 'G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A','B'])
df

             A         B
G1 1 -0.557695 -1.882454
   2 -0.047612 -0.254963
   3 -0.657325 -1.085142
G2 1  0.224507 -1.754215
   2 -0.343041 -1.531155
   3 -0.354958  0.428040

Selecting sub-dataframes

In [4]:
df.loc['G1']

          A         B
1 -0.557695 -1.882454
2 -0.047612 -0.254963
3 -0.657325 -1.085142

Indexing proceeds as normal

Collecting row with index 2 is shown below

In [5]:
df.loc['G1'].loc[2]

A   -0.047612
B   -0.254963
Name: 2, dtype: float64

### Naming indices

To find out the names of indices,

`FrozenList([None, None])`

indicates no names

In [6]:
df.index.names

FrozenList([None, None])

Label the outside and inside indices, respectively

In [7]:
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1   -0.557695 -1.882454
       2   -0.047612 -0.254963
       3   -0.657325 -1.085142
G2     1    0.224507 -1.754215
       2   -0.343041 -1.531155
       3   -0.354958  0.428040

Collecting the value under "Group 2", "Number 2", and column B

In [8]:
df.loc['G2'].loc[2]['B']

-1.5311554159314757

# Cross&ndash;Sections

A cross section of a matrix

In [9]:
df

                   A         B
Groups Num
G1     1   -0.557695 -1.882454
       2   -0.047612 -0.254963
       3   -0.657325 -1.085142
G2     1    0.224507 -1.754215
       2   -0.343041 -1.531155
       3   -0.354958  0.428040

Collect the cross section of the **df** matrix where the *Num* index is 1

In [10]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.557695 -1.882454
G2      0.224507 -1.754215