In [1]:
import numpy as np
import pandas as pd

# Labeling indicies

In [2]:
labels = ['a', 'b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

Pandas will auto generate index as expected for `.Series()` when passed in a list of data

In [3]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

Pandas allows for unique indexing if you pass in a list of labels to the index parameter

In [4]:
pd.Series( data = my_data, index = labels )

a    10
b    20
c    30
dtype: int64

Pandas will also create a series from NumPy arrays

In [5]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

Panda can even take dictionaries and turn them into a Series, using keys as indicies

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

Series can even take in built-in functions and make the pointers to those functions as values

In [7]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

***

In [8]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

Calling a specific index work as expected

In [9]:
ser1['USA']

1

Series matches operations through the index.

For example, indicies identified as 'USA' will be added together, etc.

In [10]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [11]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

Notice how dtype is converted into float64.

Another thing to note is that those elements that did not exist in both series return with a NaN value.